.Amount-section {
    padding: 30px;
}

.Amount-section p {
    color: #322D2D;
    font-size: 16px;
    font-weight: 400;
}
.amount-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #E7E4E4;
}
.rupee {
    width: 100px;
    text-align: right;
    font-size: 40px;
    font-weight: 700;
}
.rupee-input {
    width: 150px;
}
.Amount-section input {
    width: 100%;
    font-size: 40px;
    text-align: left;
    font-weight: 700;
    padding: 15px 10px;
    color: #322D2D;
    border-bottom: 1px solid #dedede;
    border: none;
}
.Amount-section input:focus{
    outline: none;
}
.Amount-main{
    display: flex;
    align-items: center;
    justify-content: center;
    columns: 3;
    padding: 36px;
    display: block;

}
.amount-box {
    background-color: #fafafa;
    border-radius: 16px;
    width: 100px;
    margin-bottom: 10px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.amount-box h5{
    color:#322D2D;
    font-size: 20px;
}
