
.head-container{
    display: flex;
    align-items: center;
    justify-content: left;
}

 .gridBox h2 {
    text-align: center;
    font-size: 24px;
    font-size: normal;
    font-weight: 700;
    line-height: 130%;
    padding-top: 35px 
}
button{
    border: none;
}

.gridbox {
    color: var(--Font, #322D2D);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}
.custom-otp-field{
    justify-content: center;
}
.custom-otp-field input{
      border: 1px solid #E7E4E4;
      border-radius: 10px;
      height: 55px !important;
      width: 55px !important;
}