.chat-main{
    position: relative;
    height: calc(100vh - 90px);
}
.date-section h6 {
    color: #7D7D7D;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding-top: 18px;
}

.chat-container span {
    color: #FFF;
    padding-left: 10px;
}

.chat-container {
    border-radius: 15px;
    background: #F85010;
    width: 70%;
    padding: 10px;
    margin: 5px 0px;
    display: flex;
}
.chat-action {
    position: absolute;
    bottom: 60px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-action input {
    padding-left: 10px;
    height: 60px;
    width: 60%;
    padding: 0px 15px;
    font-size: 16px;
    border: 1px solid #E7E4E4;
    border-radius: 19px;
    
}

.btn-section {
    background-color: #F85010;
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-section img{
width: 30px;   
}