.card-section{
    border: 1px solid black;
    border-radius: 18px ;
    
}
.card-container{
    display: flex;
    justify-content: start;
   padding-top: 20px;
    margin: 6px 0px;
    
}
.text{
    width: 100%;
    padding: 15px 30px;
    text-align: center;
}
.text h5{
    font-size: 15px;
}
.button-section button{
    margin: 20px 20px ;
    text-align: center;
    padding: 10px 24px;
    display: block;
    border-radius: 10px;
    margin: 8px;
    text-align: center;
    width: 100%;
}
